<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.in_sky1.mapper.UserFollowMapper">
    <!--根据ID更新员工基本信息-->
    <!--set标签: 会自动生成set关键字; 会自动的删除掉更新字段后多余,-->

    <!-- UserFollowMapper.xml -->
    <select id="selectFollowingsByUserId" resultType="com.example.in_sky1.pojo.UserFollow">
        SELECT * FROM user_follow
        WHERE follower_id = #{followerId}
        ORDER BY created_time DESC
    </select>
    <select id="selectFollowersByUserId" resultType="com.example.in_sky1.pojo.UserFollow">
        SELECT * FROM user_follow
        WHERE following_id = #{followingId}
        ORDER BY created_time DESC
    </select>



</mapper>